# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
# 1.Python
# 2.R
# 3.C++
# 4.JavaScript
# 5.Sql
# 6.Julia
# 7.Php

# Some of the commonly used libraries used by Data Scientists include:
# 1. Numpy
# 2. Pandas
# 3. Matplotlib
# 4. Seaborn
# 5. Scikit learn
# 6. Tensor flow
# 7. Keras
# 8. Pytorch
# 9. ggplot

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60Z

3.3333333333333335

#  Objectives: 
### 1. Overview of Data Science Tools
### 2. Languages of Data Science
### 3. Libraries,API's,Datasets,and Models
### 4. Jupyter Notebook
### 5. R Studio and GitHub

# unordered list
### * Python 
### * R 
### * Jupyter Notebook 
### * GitHub

## Author
## Himanshu

| Data Science Tools |
| ------------------ |
| Python             |
| R                  |
| Sql                |